@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    font-weight: normal;
    src: url("../public/assets/Inter.ttf") format("truetype");
}

body{
    font-family: "Inter";
}